{% extends 'base.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idrep</th>
                <td>{{ reponse.idrep }}</td>
            </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ reponse.contenue }}</td>
            </tr>
            <tr>
                <th>Daterep</th>
                <td>{{ reponse.daterep ? reponse.daterep|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index') }}">back to list</a>

    <a href="{{ path('app_reponse_edit', {'idrep': reponse.idrep}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
    </div>
{% endblock %}
