{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titreavis</th>
                <th>Pubavis</th>
                <th>Dateavis</th>
                <th>username</th>
                <th>nom</th>
                
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.titreavis }}</td>
                <td>{{ avi.pubavis }}</td>
                <td>{{ avi.dateavis ? avi.dateavis|date('Y-m-d') : '' }}</td>
                <td>{{ avi.user.username }}</td>
                <td>{{ avi.restaurant.nom }}</td>
                <td>

<button class="btn btn-secondary" onclick="window.location.href='{{ path('app_avis_show', {'id': avi.id}) }}'">
    Show
</button>

<button class="btn btn-warning" onclick="window.location.href='{{ path('app_avis_edit', {'id': avi.id}) }}'">
    Edit
</button>


                </td>
                <td>
                {{ include('avis/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 <form method="get" action="{{ path('app_avis_new') }}">
    <button type="submit" class="btn btn-primary">Create new</button>
</form>

    </div>
{% endblock %}
