{% extends 'base.html.twig' %}

{% block title %}Badge index{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Badge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commantaire</th>
                <th>Datebadge</th>
                <th>Typebadge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badge in badges %}
            <tr>
                <td>{{ badge.id }}</td>
                <td>{{ badge.commantaire }}</td>
                <td>{{ badge.datebadge ? badge.datebadge|date('Y-m-d') : '' }}</td>
                <td>{{ badge.typebadge }}</td>
                <td>
                                    <button class="btn btn-secondary" onclick="window.location.href='{{ path('app_badge_show', {'id': badge.id}) }}'">
    Show
</button>
</td>
<td>
                  <button class="btn btn-warning" onclick="window.location.href='{{ path('app_badge_edit', {'id': badge.id}) }}'">
    Edit
</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <form method="get" action="{{ path('app_badge_new') }}">
    <button type="submit" class="btn btn-primary">Create new</button>
</form>

    </div>
{% endblock %}
