{% extends 'base.html.twig' %}

{% block title %}Evennement index{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Evennement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idevent</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Img</th>
                <th>Lieu</th>
                <th>Adresse</th>

            </tr>
        </thead>
        <tbody>
        {% for evennement in evennements %}
            <tr>
                <td>{{ evennement.idevent }}</td>
                <td>{{ evennement.titre }}</td>
                <td>{{ evennement.description }}</td>
                <td>{{ evennement.date ? evennement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evennement.img }}</td>
                <td>{{ evennement.lieu }}</td>
                <td>{{ evennement.adresse }}</td>
                <td>



                <button class="btn btn-secondary" onclick="window.location.href='{{ path('app_evennement_show', {'idevent': evennement.idevent}) }}'">
    Show
</button>
</td>
<td>
                  <button class="btn btn-warning" onclick="window.location.href='{{ path('app_evennement_edit', {'idevent': evennement.idevent}) }}'">
    Edit
</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="get" action="{{ path('app_evennement_new') }}">
    <button type="submit" class="btn btn-primary">Create new</button>
</form>

    </div>
{% endblock %}
