{% extends 'front.html.twig' %}

{% block title %}Evennement{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Evennement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idevent</th>
                <td>{{ evennement.idevent }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evennement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evennement.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evennement.date ? evennement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ evennement.img }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evennement.lieu }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ evennement.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evennement_index') }}">back to list</a>

    <a href="{{ path('app_evennement_edit', {'idevent': evennement.idevent}) }}">edit</a>

    {{ include('evennement/_delete_form.html.twig') }}
    </div>
{% endblock %}
