{% extends 'base.html.twig' %}

{% block title %}Restaurant index
{% endblock %}

{% block body %}
	<div class="fils" style="padding-left: 300px;">
		<h1>Restaurant index</h1>
		<div class="page-wrapper my-5">
			<div class="container-fluid" id="container-wrapper">
				<div class="card p-3">
					<div class="row">
						<h5 class="col-7 text-gray-800 pl-3">Restaurant</h5>

						<a class="col-2 btn btn-danger mx-1" href="{{path('app_charity_demand_View')}}">
							Recherche
						</a>
						<a class="col-2 btn btn-success " href="{{ path('app_restaurants_pdf') }}">
							Exporter
						</a>

					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="table-responsive p-3">
								<div id="geniustable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
									<div class="row ">
										<div class="col-10"></div>


										<a class="col-1 btn btn-primary" href="{{ path('app_restaurant_new') }}">
											Ajouter
										</a>

									</div>
									<div class="row">
										<div class="col-sm-12">
											<table id="geniustable" class="table table-hover dt-responsive dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="geniustable_info" style="width: 100%;">

												<thead>
													<tr>
														<th>IdRestau</th>
														<th>Nom</th>
														<th>Location</th>
														<th>actions</th>
													</tr>
												</thead>
												<tbody>
													{% for restaurant in restaurants %}
														<tr>
															<td>{{ restaurant.idRestau }}</td>
															<td>{{ restaurant.nom }}</td>
															<td>{{ restaurant.location }}</td>
															<td>
																<a href="{{ path('app_restaurant_show', {'id_restau': restaurant.idRestau}) }}" class="btn btn-info btn-sm px-3">
																	show
																</a>
																<a class="btn btn-warning" href="{{ path('app_restaurant_edit', {'id_restau': restaurant.idRestau}) }}">
																	Edit
																</a>
															</td>
														</tr>
													{% else %}
														<tr>
															<td colspan="4">no records found</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
{% endblock %}
