{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                 <th>IdRes</th>
                <th>Datereser</th>
                <th>Timereser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                   <td>{{ reservation.idRes }}</td>
                <td>{{ reservation.datereser ? reservation.datereser|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.timereser ? reservation.timereser|date('H:i:s') : '' }}</td>
                <td>
                    
                    <button class="btn btn-secondary" onclick="window.location.href='{{ path('app_reservationa_show', {'idRes': reservation.idRes}) }}'">
    Show
</button>
</td>
<td>
                  <button class="btn btn-warning" onclick="window.location.href='{{ path('app_reservationa_edit', {'idRes': reservation.idRes}) }}'">
    Edit
</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
