{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Plat index</h1>

    <table  class="table">
        <thead>
            <tr>
                <th>Idplat</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Categorie</th>

            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.idplat }}</td>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.image }}</td>
                <td>{{ plat.prix }}</td>
                <td>{{ plat.categorie }}</td>
                <td>

                                        <button class="btn btn-secondary" onclick="window.location.href='{{ path('app_plat_show', {'idplat': plat.idplat}) }}'">
    Show
</button>
</td>
<td>
                  <button class="btn btn-warning" onclick="window.location.href='{{ path('app_plat_edit', {'idplat': plat.idplat}) }}'">
    Edit
</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<form method="get" action="{{ path('app_plat_new') }}">
    <button type="submit" class="btn btn-primary">Create new</button>
</form>

    </div>
{% endblock %}
